/******************************************************************
Site Name:
Author:

Stylesheet: Desktop Stylsheet

This is the desktop size. It's larger than an iPad so it will only
be seen on the Desktop.

******************************************************************/
body{
	font-size:2em;
}

.navbar-brand{
	&.es{
    min-width: 450px;
	}
}

.jumbotron{
	background-size:700px;
}