/******************************************************************

Stylesheet: 481px and Up Stylesheet

This stylesheet is loaded for larger devices. It's set to
481px because at 480px it would load on a landscaped iPhone.
This isn't ideal because then you would be loading all those
extra styles on that same mobile connection.

******************************************************************/

.jumbotron{
	background:url(../images/hero_background.png) no-repeat right bottom ;
	background-size:65%;
	.intro{
		width:50%;
	}
	h1{
		font-size:2.5em;
		.upper{
			text-transform:uppercase;
		}
	}
}
p.float-left.qa, p.float-right.qa{
	width:75%;
}
.logobox{
	padding-bottom:20px;
}

div.dropdown{
	width:40%;
	margin-top:0px;
}

.hero_quote, .hero_quote.es{
	margin-top:0px;
	padding-bottom:120px;
	max-width:1200px;
	margin: 0 auto;
	left:50%;
	.attribution{
	width:325px;
		div{
			width:225px;
			padding-top:30px;
			
		}
	}
}
.mobile_only{
	display:none !important;
}
.desktop_only{
	display:block !important;
}