/******************************************************************

Stylesheet: Tablet & Small Desktop Stylesheet

******************************************************************/

h1{
	font-size:2.5em;
}
.navbar-brand{
	float:none;
	position:absolute;
	top: 30px;
	left: 50%;
	transform: translate(-50%, -50%);
	&.es{    
		top: 30px;
    padding: 10px;
    left: 50%;
    margin: 0 auto;
    min-width: 350px;
	}
}
p.float-left.qa, p.float-right.qa{
	width:80%;
}

.navbar-toggle{
	margin:10px;
}


.container{
	padding-top:80px;
	padding-bottom:80px;
}
.navbar, .jumbotron{
	
	border-bottom:1px solid #eee;
}
.navbar > div:nth-child(1){
	padding-top: 0px;
	padding-bottom:0px;
}
.jumbotron{
	background-size:65%;
	padding-top:0px;
}
