/******************************************************************

Stylesheet: Handles bootstrap breakpoint at 991px

******************************************************************/

.icon_left{
	border-bottom:none;
}

.disguise{
	background-position: left 10px top 20px;
}
.knight{
	background-position: left 10px top 20px;
}
.apple{
	background-position: left 10px top 20px;
}
.smile{
	background-position: left 10px top 20px;
}


p.float-left.qa, p.float-right.qa{
	float:none;
	width:100%;
}
.attribution.float-left, .attribution.float-right{
	float:none;
	margin:0 auto;
	left:50%;
	width:180px;
}