/*********************
GENERAL STYLES
*********************/
@import url(http://fonts.googleapis.com/css?family=Roboto+Slab:300,400,700);

body {
	font-family: Roboto Slab, Serif;
	font-weight:$light;
	font-size: 1.5em;
	line-height: 1.5;
	color: $text-color;
	background-color: $white;
  	-webkit-font-smoothing: antialiased;
  	-moz-osx-font-smoothing: grayscale;
	margin:0px;
	padding-top:80px;
}

/*********************
LINK STYLES
*********************/

a, a:visited {
	color: $link-color;

	/* on hover */
	&:hover, &:focus {
		color: $link-hover;
	}

	/* on click */
	&:active {

	}

	/* mobile tap color */
	&:link {
		/*
		this highlights links on iPhones/iPads.
		so it basically works like the :hover selector
		for mobile devices.
		*/
		-webkit-tap-highlight-color : rgba( 0, 0, 0, 0.3 );
	}
}

/******************************************************************
H1, H2, H3, H4, H5 STYLES
******************************************************************/

h1, .h1, h2, .h2, h3, .h3, h4, .h4, h5, .h5 {
	text-rendering: optimizelegibility;
	font-weight: 400;
	
	/* removing text decoration from all headline links */
	a {
		text-decoration: none;
	}
}

h1, .h1 {
	font-size: 1.5em;
	line-height: 1.333em;
	text-transform:capitalize;
	margin-top:0px;
	margin-bottom:0px;
}

h2, .h2 {
	font-size: 1.5em;
	line-height: 1.4em;
	margin-bottom: 0.375em;
	text-transform:uppercase;
}

h2.preserver{
		background:url(../images/icon_preserver.png) no-repeat left top;
		padding-left:60px;
		line-height:30px;
		height:60px;
}
h2.cheer{
		background:url(../images/icon_cheer.png) no-repeat left top;
		padding-left:60px;
		line-height:60px;
		height:60px;
}
h2.frown{
		background:url(../images/icon_frown.png) no-repeat left top;
		padding-left:60px;
		line-height:30px;
		min-height:60px;
}
.icon_left{
	padding-left:70px;
	border-bottom:1px solid #eee;
	
}

.disguise{
	background:url(../images/icon_disguise.png) no-repeat left 10px top 5px;
	background-size:50px;
}
.knight{
	background:url(../images/icon_knight.png) no-repeat left 10px top 5px;
	background-size:50px;
}
.apple{
	background:url(../images/icon_apple.png) no-repeat left 10px top 5px;
	background-size:50px;
}
.smile{
	background:url(../images/icon_smile.png) no-repeat left 10px top 5px;
	background-size:50px;
	border-bottom:none;
}

h3, .h3 {
	font-size: 1.125em;
}

h4, .h4 {
	font-size: 1.1em;
	font-weight: 700;
}

h5, .h5 {
	font-size: 0.846em;
	line-height: 2.09em;
	text-transform: uppercase;
	letter-spacing: 2px;
}

.container{
	padding-top:20px;
	padding-bottom:20px;
}
/*********************
HEADER STYLES
*********************/
nav.navbar{
	background:$white;
	
}

.navbar > div:nth-child(1){
	padding-top: 0px;
	padding-bottom:0px;
}

.navbar-brand{
	float: left;
	position: absolute;
	top: 20px;
	left: 0px;
	font-size:1.1em;
	text-transform:uppercase;
	.orange{
		color:$orange;
	}
	&.es{    
    padding: 0px;
		top: 25px;
    max-width: 220px;
    left: 15px;
	}
}
.jumbotron{
	background:#fff;
	height:auto;
	padding-top:0px;
	margin-top:0px;
	padding-bottom:0px;
	margin-bottom:0px;
	.intro{
		width:100%;
		font-size:1.2em;
	}
}

button.menu_dropdown{
	background:url(../images/button_menu.png) no-repeat center center;
	height:60px; 
	width:60px;
}

.navbar-toggle{
	margin:5px;
}
.language{
	padding-left:2px;
}

li.active{
	background:#ddd;
}

/*********************
CONTENT
*********************/

/*HOMEPAGE*/

div.attribution{
	width:100px;
	margin:0 auto;
	text-align:center;
	font-size:.75em;
}

.hero_quote{
	padding-bottom:120px;
	max-width:1200px;
	.attribution{
		width:200px;
		div{
			width:100px;
			text-align:left;
			padding-top:10px;}
	}
}

div.dropdown{
	clear:both;
	background:$orange;
	border-radius:5px; 
	width:100%; 
	padding:10px;
	p.dropdown_intro{
		color:$white;
		font-weight:$medium;
		text-transform:uppercase;
	}
}

#dropdownMenu1{
	width:100%;
	text-align:left;
}

.orange_band{
	background:$orange;
	color:$white;
	width:100%;
	clear:both;
	a{
		color:$white;
	}
}

div.container:nth-child(2), .jumbotron > div:nth-child(1)
{
	padding-top:0px;
}

.fa_bullet1{
	text-indent:-50px;
	padding-left:50px;
	&.es{
		text-indent:-35px;
		padding-left:35px;
	}
}

.fa_bullet2{
	text-indent:-50px;
	padding-left:50px;
	&.es{
		text-indent:-30px;
		padding-left:30px;
	}
}

.fa_bullet3{
	text-indent:-35px;
	padding-left:40px;
}
/*UTILITY*/

.rounded{
	border-radius:5px;
}
.centered{
	text-align:center;
}
.float-right{
	float:right;
}
.float-left{
	float:left;
	&.qa{
		width:50%;
	}
}
.mobile_only {
	display:block !important;
}
.desktop_only{
	display:none !important;
}
.orange{
	color:$orange;
}
p.float-left.qa, p.float-right.qa{
	width:60%;
}
hr{
	clear:both;
}
/*********************
FOOTER STYLES
*********************/

#site_info{
	background:$dark-gray;
	text-align:center;
	color:$white;
	font-size:1.2em;
	a{
		display:inline-block;
		color:$white;
		line-height:3em;
		font-weight:$heavy;
		&:hover{
			color: $meta-gray;
		}
	}
}
#footer_band{
	background:$light-gray;
	text-align:center;
	padding:10px 0px 10px 0px;
}